@import"variables";
@import "index";
@import "inicio";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    background: #ffffff;
    cursor: url("../assets/img/cursor.svg") 12 12, auto;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 19px;
}

nav {
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
    .logo {
        height: 30px;
    }
    .menu{
        justify-content: center;
        display: flex;
        align-items: center;
    }
}